@import "tailwindcss";

@theme inline {
  --color-ml-yellow-light: #FFF582;
  --color-ml-yellow: #FFF159;
  --color-ml-yellow-dark: #FFEB33;
  --color-ml-blue: #3483FA;
  --color-background: #ffffff;
  --color-foreground: #333333;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
